<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <div>
          {% if columna and fila %}
        
        <table border="1">
          {% for row in fila %}
         
          <tr>
            {% for col in columna %}
            <td>
                ㅤㅤㅤ
             <br>
             ㅤㅤㅤ
    
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
    
        {% endif %}
        </div>
    </center>
</body>
</html>