{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/buscaminas.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lora:wght@500&display=swap"
      rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Formulario de Buscaminas</title>
  </head>
  <body>
    <h1>Completa el formulario para crear un tablero</h1>
  
    <!-- Este form indica que el formulario devuelto sera asi por el  metodo post -->
    <!-- csrf_token es una etiqueta de seguridad necesearia para proteger el fromulario -->
    <!-- form.non_field_errors  muestra mensaje de error no realcionada con un campo especifico del fromulario-->
    <!-- class="form-group": genera un contenedor para agrupar un campo del formulario junto con su etiqueta. -->
    <!-- form.fila.label_tag: muestra la etiqueta del campo fila -->
    <!-- form.columna.label_tag: muestra la etiqueta del campo columna -->
    <!-- form.minas.label_tag: muestra la etiqueta del campo minas -->
    <!-- form.fila/columana/minas: muestra el campo del formulario -->
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
          {{ form.fila.label_tag }}
          {{ form.fila }}
      </div>
      <br>
      <div class="form-group">
          {{ form.columna.label_tag }}
          {{ form.columna }}
      </div>
      <br>
      <div class="form-group">
          {{ form.minas.label_tag }}
          {{ form.minas }}
      </div>
      <br>
      <button type="submit">Crear Tablero</button>
  </form>
    </form>
  </body>
</html>